.block_button {
  margin: 0 auto
}
.button {
  width: 100%;
  padding: 20px 20px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent
}
@media (max-width:768px) {
  .button {
    font-size: 18px
  }
}
@media (max-width:425px) {
  .button {
    font-size: 14px
  }
}
.button:not(:last-child) {
  margin-right: 15px
}
.button:hover {
  background-color: #5c5c5c
}
.cath_color__timer {
  display: none;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px
}
.cath_color__game {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.cath_color__grid {
  display: none;
  height: 90%;
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px
}
.cath_color-item {
  border: 3px solid #000;
  border-radius: 10px
}
.cath_color-item:active {
  background-color: rgba(126,126,126,.178)
}
body {
  font-family: Roboto
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 650px;
  width: 100%;
  height: 100%
}
.text__title {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  line-height: 120%
}
.text__title span {
  font-size: 36px
}
@media (max-width:768px) {
  .text__title {
    font-size: 42px
  }
}
@media (max-width:425px) {
  .text__title {
    font-size: 36px
  }
}
.text__text {
  font-size: 24px;
  color: #7a7a7a;
  margin-bottom: 20px
}
@media (max-width:768px) {
  .text__text {
    font-size: 20px
  }
}
@media (max-width:425px) {
  .text__text {
    font-size: 18px
  }
}
.block_game {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.game__border {
  display: none;
  max-width: 450px;
  height: 500px;
  border: 10px solid #000;
  border-radius: 15px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border-radius: 10%
}
@media (max-width:768px) {
  .game__border {
    height: 350px;
    border: 8px solid #000
  }
}
@media (max-width:425px) {
  .game__border {
    height: 300px;
    border: 5px solid #000
  }
}
.game__border:active {
  background-color: rgba(126,126,126,.178)
}
.game__body {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px
}
.game__grid {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 80%;
  flex: 0 1 80%;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(4,minmax(50px,1fr));
  grid-template-rows: repeat(4,minmax(60px,1fr));
  row-gap: 15px;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  margin-bottom: 25px
}
@media (max-width:768px) {
  .game__grid {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    row-gap: 10px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
  }
}
@media (max-width:500px) {
  .game__grid {
    row-gap: 10px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px
  }
}
.game__item {
  border-radius: 15px;
  border: 2px solid #000
}
.button__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0 20px 0
}
.button__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 35px;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.3%;
  flex: 0 1 33.3%;
  border: 4px solid #000;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent
}
.button__item:active {
  background-color: #9c9c9c
}
.button__item:not(:last-child) {
  margin-right: 15px
}
.active {
  background-color: #0f0
}
.__no-active {
  background-color: rgba(212,0,0,.753)
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 50px
}
@media (max-width:768px) {
  .wrapper {
    padding: 35px
  }
}
@media (max-width:425px) {
  .wrapper {
    font-size: 15px
  }
}
.container__levels {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px
}
.levels__title {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  line-height: 120%
}
.levels__title span {
  font-size: 36px
}
@media (max-width:768px) {
  .levels__title {
    font-size: 42px
  }
}
@media (max-width:425px) {
  .levels__title {
    font-size: 36px
  }
}
.levels__text {
  font-size: 24px;
  color: #7a7a7a;
  margin-bottom: 100px
}
@media (max-width:768px) {
  .levels__text {
    font-size: 20px
  }
}
@media (max-width:425px) {
  .levels__text {
    font-size: 18px
  }
}
.levels__list {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent
}
.levels__item {
  margin-bottom: 25px;
  padding: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease
}
.levels__item:hover {
  padding-left: 50px;
  color: #441080
}
.levels__item:hover .level__text {
  color: #441080
}
.level__title {
  font-size: 25px;
  font-weight: 500;
  line-height: 150%
}
.level__title span {
  margin-right: 5px
}
.level__text {
  font-size: 18px;
  color: #3a3a3a
}
.minMax__game {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.minMax__block {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%
}
.minMax__dots {
  width: 50px;
  height: 50px;
  margin: 50px;
  background-color: #f52a2a;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 50%
}
@media (max-width:768px) {
  .minMax__dots {
    width: 35px;
    height: 35px;
    margin: 35px
  }
}
@media (max-width:425px) {
  .minMax__dots {
    width: 15px;
    height: 15px;
    margin: 15px
  }
}
.minMax_num {
  max-width: 300px;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 85px;
  cursor: pointer;
  padding: 100px;
  border-radius: 50%;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent
}
@media (max-width:768px) {
  .minMax_num {
    padding: 70px;
    font-size: 65px
  }
}
@media (max-width:500px) {
  .minMax_num {
    padding: 15px;
    font-size: 45px
  }
}
.minMax_num:hover {
  background-color: rgba(240,248,255,.308)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  height: 100%
}
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-size: inherit
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit
}
a {
  color: inherit
}
a:link,
a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.page.__result {
  display: none
}
.result-page__title {
  padding-bottom: 50px;
  font-size: 42px;
  font-weight: 800;
  line-height: 100%
}
.result-page__title span {
  font-size: 26px;
  color: grey;
  font-weight: 400
}
@media (max-width:768px) {
  .result-page__title {
    font-size: 42px
  }
}
@media (max-width:425px) {
  .result-page__title {
    font-size: 36px
  }
}
.body__result {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.result__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}
.result__body:nth-child(2) {
  margin-bottom: 50px
}
.result__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 70%;
  flex: 1 0 70%
}
.result__title {
  font-size: 26px;
  line-height: 150%;
  font-weight: 600
}
@media (max-width:768px) {
  .result__title {
    font-size: 22px
  }
}
@media (max-width:425px) {
  .result__title {
    font-size: 16px
  }
}
.result__text {
  font-size: 18px;
  color: #525252
}
@media (max-width:768px) {
  .result__text {
    font-size: 16px
  }
}
@media (max-width:425px) {
  .result__text {
    font-size: 14px
  }
}
.result__value {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  font-size: 26px;
  font-weight: 800;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 20px
}
@media (max-width:768px) {
  .result__value {
    font-size: 16px
  }
}
@media (max-width:425px) {
  .result__value {
    font-size: 14px
  }
}
.result-img__block-ok {
  display: none;
  width: 100%
}
.result-img__block-no {
  display: none
}
.result-img__img {
  position: relative;
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px
}
@media (max-width:768px) {
  .result-img__img {
    max-width: 210px;
    height: 210px
  }
}
@media (max-width:425px) {
  .result-img__img {
    max-width: 150px;
    height: 150px
  }
}
.result-img__img img {
  width: 100%;
  background-size: cover
}
.result-img__title {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 150%;
  font-weight: 500
}
@media (max-width:768px) {
  .result-img__title {
    font-size: 16px
  }
}
@media (max-width:425px) {
  .result-img__title {
    font-size: 14px
  }
}
.block__timer {
  margin: 0 auto;
  margin-bottom: 20px
}
.timer {
  display: none;
  font-size: 48px
}
@media (max-width:768px) {
  .timer {
    font-size: 32px
  }
}
@media (max-width:425px) {
  .timer {
    font-size: 28px
  }
}
.__ok {
  position: relative
}
.__ok::after {
  position: absolute;
  top: 10px;
  right: -35px;
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: green
}
@media (max-width:768px) {
  .__ok::after {
    top: 7px;
    width: 25px;
    height: 25px
  }
}
@media (max-width:500px) {
  .__ok::after {
    top: 5px
  }
}
.__no {
  position: relative
}
.__no::after {
  position: absolute;
  top: 10px;
  right: -35px;
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red
}
@media (max-width:768px) {
  .__no::after {
    top: 7px;
    width: 25px;
    height: 25px
  }
}
@media (max-width:500px) {
  .__no::after {
    top: 5px
  }
}