.block__timer{
	margin: 0 auto;
	margin-bottom: 20px;
}
.timer{
	display: none;
	font-size: 48px;

	@media (max-width: 768px) {
		font-size: 32px;
	}
	@media (max-width: 425px) {
		font-size: 28px;
	}
}